.footer {
    // background: url('../img/bg-7.jpg') fixed no-repeat;
    // background-position: center;
    // background-size: cover;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
        color: $green;
        font-weight: 900;
    }
}