.portfolio {
    position: relative;
    padding: 50px 0 100px 0;
    // background: url('../img/bg-4.jpg') no-repeat;
    // background-size: 100% 100%;
    // background-position: center;
    &__wrapper {
        width:100%;
        margin-top:15px;
    }
    &__item {
        display: grid;
        grid-template-columns: minmax(650px, auto) minmax(350px, auto);
        grid-template-rows: 550px;
        column-gap: 50px;
        // display: flex;
        // justify-content: space-around;
        width: 100%;
        height: 550px;
        margin-top: 30px;
    }
    &__img {
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        width: 100%;
        .info {
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            h5 {
                @include responsiveFont(20, 14);
            }
            p {
                @include responsiveFont(12, 10);
                text-align: center;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            a {
                width: 130px;
                display: block;
                margin: 0 auto;
                border: 1px solid $green;
                border-radius: 5px;
                background-color: #fff;
                color: $green;
                transition: 0.3s all;
                &:hover {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
    }
    &__prev,&__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 200px;
        border: none;
        background-color: rgba(0,0,0, 0);
        color: $green;
        font-size: 50px;
    }
    &__next {
        right: 200px;
        left: auto;
    }
}