.whatIdo {
    padding: 30px 0;
    background: url('../img/whatido/bg.jpg') fixed no-repeat center/cover;
    &__card {
        padding: 30px 0;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 20px;
        color: $green;
        font-weight: bold;
    }
}