@media screen and (max-width: 880px) {
    .contacts {
        &__box {
            grid-template-columns: 1fr;
        }
        &__left {
            height: 200px;
        }
    }
}

@media screen and (max-width: 540px) {
    .contacts {
        &__left {
            padding: 20px;
            ul {
                li {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 393px) {
    .contacts {
        &__left {
            ul {
                li {
                    font-size: 0.8rem;
                    color: white;
                }
            }
        }
    }
}