@media screen and (max-width: 1800px) {
    .portfolio {
        &__prev,&__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 40px;
        }
        &__next {
            right: 20px;
            left: auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .portfolio {
        &__prev,&__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 40px;
        }
        &__next {
            right: 20px;
            left: auto;
        }
    }
}

@media screen and (max-width: 1100px) {
    .portfolio {
        position: relative;
        padding: 50px 0 100px 0;
        // background: url('../img/bg-4.jpg') no-repeat;
        // background-size: 100% 100%;
        // background-position: center;
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 390px;
            margin-top: 20px;
        }
        &__img {
            width: 50%;
        }
        &__info {
            width: 40%;
        }
        &__prev,&__next {
            display: none;
        }
        &__next {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .portfolio {
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            height: 390px;
            margin-top: 10px;
        }
        &__img {
            width: 45%;
            height: 250px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 35%;
            .info {
                max-height: 300px;
                h5 {
                    font-size: 14px;
                }
                p {
                    color: grey;
                }
                a {
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        position: relative;
        padding: 50px 0 20px 0;
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            max-height: 350px;
            margin-top: 10px;
        }
        &__img {
            width: 50%;
            height: 250px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 45%;
            .info {
                width: 100%;
                max-height: 300px;
                h5 {
                    font-size: 12px;
                }
                p {
                    color: grey;
                }
                a {
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .portfolio {
        position: relative;
        padding: 50px 0 20px 0;
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            max-height: 350px;
            margin-top: 0px;
        }
        &__img {
            width: 60%;
            height: 250px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 35%;
            .info {
                width: 100%;
                max-height: 300px;
                padding: 10px;
                h5 {
                    font-size: 11px;
                }
                p {
                    color: grey;
                }
                a {
                    width: 80px;
                    font-size: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .portfolio {
        position: relative;
        padding: 50px 0 20px 0;
        &__img {
            width: 60%;
            height: 200px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 35%;
            .info {
                width: 100%;
                min-height: 100px;
                padding: 10px;
                h5 {
                    font-size: 8px;
                }
                p {
                    font-size: 5px;
                    color: grey;
                    margin-top: 0px;
                    margin-bottom: 0;
                }
                a {
                    width: 50px;
                    font-size: 6px;
                    padding: 3px 6px;
                    margin-top: 5px;
                }
            }
        }
    }
}