@media screen and (max-width: 1800px) {
    .portfolio {
        &__prev,&__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 40px;
        }
        &__next {
            right: 20px;
            left: auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .portfolio {
        &__prev,&__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 40px;
        }
        &__next {
            right: 20px;
            left: auto;
        }
    }
}

@media screen and (max-width: 1100px) {
    .portfolio {
        position: relative;
        padding: 50px 0 100px 0;
        background: $green;
        // background: url('../img/bg-4.jpg') no-repeat;
        // background-size: 100% 100%;
        // background-position: center;
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 390px;
            margin-top: 30px;
        }
        &__img {
            width: 50%;
        }
        &__info {
            width: 40%;
        }
        &__prev,&__next {
            position: absolute;
            top: 90%;
            left: 200px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 50px;
        }
        &__next {
            right: 200px;
            left: auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .portfolio {
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 390px;
            margin-top: 30px;
        }
        &__img {
            width: 45%;
            height: 250px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 35%;
            .info {
                max-height: 300px;
                h5 {
                    font-size: 14px;
                }
                p {
                    font-size: 8px;
                    font-weight: 900;
                    color: grey;
                }
                a {
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
        &__prev,&__next {
            position: absolute;
            top: 90%;
            left: 200px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 50px;
        }
        &__next {
            right: 200px;
            left: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        position: relative;
        padding: 50px 0 20px 0;
        &__wrapper {
            width:100%;
            margin-top:15px;
        }
        &__item {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            max-height: 350px;
            margin-top: 30px;
        }
        &__img {
            width: 50%;
            height: 250px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            width: 45%;
            .info {
                width: 100%;
                max-height: 300px;
                h5 {
                    font-size: 12px;
                }
                p {
                    font-size: 8px;
                    font-weight: 900;
                    color: grey;
                }
                a {
                    width: 100px;
                    font-size: 10px;
                }
            }
        }
        &__prev,&__next {
            position: absolute;
            top: 85%;
            left: 100px;
            border: none;
            background-color: rgba(0,0,0, 0);
            color: #fff;
            font-size: 30px;
        }
        &__next {
            right: 100px;
            left: auto;
        }
    }
}

@media screen and (max-width: 576px) {
    
}